@charset "utf-8";

html {
	overflow-y: scroll;
}

body {
	background: #eeeeee;
	font-family: "PT Sans";
	font-size: 13px;
}

/*  */

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#header .name h1 {
	font-size: 30px;
	margin: 0;
	padding: 20px 30px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
}

nav {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0px 30px;

	color: white;
}

#title-Stack {

	
	border: none;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

#title-LL {
	/* background-color: #1bd6bd; */
	
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* border-radius: 8px; */
}

#title-Queue {
	/* background-color: #1bd6bd; */
	border: none;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

#title-DLL {
	/* background-color: #1bd6bd; */
	border: none;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

#title-Deque {
	/* background-color: #1bd6bd; */
	border: none;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}


/*left-side*/
/* #home {
		width: 400px;
		height: 40px;
		border:none;
		text-align: center;
		font-size:larger;
		font-weight: 900;
		font-stretch: expanded;
		background-color: #1bd6bd;
		color:rgb(0, 0, 0);
		font-family: 'SilkscreenNormal';
		display: inline-block;
		font-size: 22px;
		padding: 5px 10px;
		border-radius: 10px;
	} */
#Home h1 {
	margin: 0 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: black;
}

#header {
	background-color: rgb(221, 221, 221);
}

#title {
	padding-left: 20px;
	text-transform: none;
	font-size: 16px;
	color: #939393;
}

#title a {
	cursor: pointer;
	margin-right: 10px;
}

/* #title .selected-viz {
	font-weight: bold;
	color: black;
} */

/*right-side*/
/* .right-links {
	float: right;
	position: relative;
	margin-left: 10px;
	padding: 15px 15px;
	color: white;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
} */


/* #main {
	position: relative;
	padding: 30px 30px 10px 10px;
	overflow: auto;
} */

#bottom-bar {
	width: 60px;
	height: 50px;
	padding: 10px 15px;
	background: black;
	color: white;
	font-size: 14px;
	text-align: right;
}

#bottom-bar a {
	padding-left: 15px;
	cursor: pointer;
}

#bottom-bar a:hover {
	text-decoration: underline;
}














@media (min-width: 320px) {
	/* 320-480px */

}

@media (min-width: 480px) {

	/* 480-768px */
	nav {
		padding: 0px 50px;
	}

	#bottom-bar {
		padding: 12px 50px;
	}

	#main {
		padding: 50px 50px 30px 30px;
	}
}

@media (min-width: 768px) {

	/* 768-1024px */
	nav {
		padding: 0px 60px;
	}

	#bottom-bar {
		padding: 12px 60px;
	}

	#main {
		padding: 60px 60px 40px 40px;
	}
}

@media (min-width: 1024px) {
	/* more than 1024px */

}